body {
    background-color: gray;
    color: white;
    margin: 0;
}

* {
    box-sizing: border-box; 
}
.gui{
    float: left;
}

#buttongen{
    margin-left: 100px;
    min-width: 150px;
    width: auto;
}
#buttongen button{
    margin-right: 20px;
    width: 130px;
    height: 100px;
}

#guesses {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.guess-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 6px;
    padding: 5px;
    border-radius: 6px;
    background-color: black;
}

.stat {
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}
#gen1,#gen2,#gen3,#gen4,#gen5,#gen6,#gen7,#gen8,#gen9{
    background-color: green;
    width: 100px;
    height: 30px;
    font-size: large;
}
#suggestions {
    border: 1px solid #ccc;
    width: 300px;
    max-height: 200px;
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1000;
    overflow-y: auto;
    box-sizing: border-box;
    left: 0;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    text-align: left;
    border-bottom: 1px solid #eee;
}

#suggestions div:hover {
    background-color: #ddd;
}
.container {
        position: relative;
        width: max-content;
    }