*{
    background-color: gray;
    color: white;
}
#guesses {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.guess-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 6px;
    padding: 5px;
    border-radius: 6px;
    /* background: #f5f5f5; */
    background-color: black;
}

.stat {
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}